<html lang="it">

<title> gg buffon </title>

<body>

<table border="5" width="100%" height="100%" bgcolor="cccccc" rowspan="2">
	<tr>
		<td bgcolor="white" align="left" width="10%" height="100%"><h1>UNO</td>
		<td bgcolor="white" align="left" >
			<table

			<table border="5" width="100%" height="100%" bgcolor="cccccc" rowspan="2">
				<tr>
					<td bgcolor="white" align="left" width="100px" height="100px">
						<img src="C:\Users\pietr\OneDrive\Desktop\oro.jpg" width="50px" height="50px"	>
					</td>
				</tr>
			</table>

			<table border="5" width="100%" height="100%" bgcolor="cccccc" rowspan="2">
				<tr>
					<td bgcolor="white" align="left" width="100px" height="100px"><h1></td>
				</tr>
			</table>

			<table border="5" width="100%" height="100%" bgcolor="cccccc" rowspan="2">
				<tr>
					<td bgcolor="white" align="left" width="100px" height="100px"><h1></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body>
</html>